@import "tailwindcss";

:root {
  --background: #1f1f1f;
  --foreground: #1f1f1f;
}

@theme {
  --color-custom-primary:#1f1f1f;
  --color-custom-text:   #d1cfc0;
  --color-custom-accent: #4eaacc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1f1f1f;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-custom-primary);
  color: var(--foreground);
}
